<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Chicken-coop.fr</title>
    <meta name="description" content="Free responsive HTML template for your documentation">
    <meta name="author" content="valthemes.com">
    <meta name="format-detection" content="telephone=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/prettify.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/normalize.css') }}">
</head>
<body>
<div class="row">
    <div class="col-sm-12 center">
        <h1 class="text-center">Chicken-coop.fr - Documentation API</h1>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="content-wrap">
            <div class="row">
                <aside>
                    <div class="menu-box">
                        <h4>Navigation</h4>
                        {% block navigation %}{% endblock %}
                    </div>
                </aside>
                <div class="content-info">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/prettify.min.js') }}"></script>
<script src="{{ asset('assets/js/scripts.min.js') }}"></script>
</body>
</html>